* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 6.641%;
    @include pad {
        padding: 0 5%;
    }
    @include mobile {
        padding: 0 4%;
    }
}
.container-md {
    @include mobile {
        padding: 0;
    }
}
.container-1 {
    max-width: 730px;
    height: 88vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include pad {
        height: 90vh;
        padding: 0 5%;
    }
    @include mobile {
        height: 85vh;
    }
}

.container-2 {
    max-width: 1280px;
    padding: 0 6.641%;
    height: 79vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include pad {
        height: 84vh;
    }
    @include mobile {
        height: auto;
    }
}

.container-3 {
    max-width: 730px;
    height: 87vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include pad {
        height: 90vh;
        padding: 0 5%;
    }
    @include mobile {
        height: 92vh;
    }
}

.wrap-1 {
    position: relative;
    top: 72px;
    @include pad {
        top: 0;
    }
    @include mobile {
        top: 56px;
    }
}

.wrap-2 {
    position: relative;
    top: 176px;
    overflow-y: hidden;
    @include pad {
        top: 0;
    }
    @include mobile {
        top: 114px;
    }
}

.wrap-3 {
    position: relative;
    top: 96px;
    @include pad {
        top: 24px;
    }
    @include mobile {
        top: 56px;
    }
}

.block {
    display: block;
}