$small-sm: 4px;
$small-md: 8px;
$small-lg: 12px;
$small: 16px;
$middle-sm: 20px;
$middle-md: 24px;
$middle-lg: 28px;
$middle: 36px;
$large-sm: 40px;
$large-md: 48px;
$X-large: 80px;

$color-primary: #6C51E2;
$color-secondary: #121212;
$color-info: #F1F0F8;
$color-muted: #00000061;
$color-gray: #00000099;
$color-white: #ffffff;

$color-warning: #f0ad25;
$color-border: #d5411a;
$color-label: #212529;