// banner 
.banner {
    width: 100%;
    padding-top: 25%;
    background-position: center center;
    background-size: cover;
    position: relative;
    @include pad {
        padding-top: 41.668%;
    }
    @include mobile {
        padding-top: 84%;
    }
    .title {
        color: $color-white;
        font: normal normal 800 48px/64px Raleway;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pad {
            width: 50%;
            text-align: center;
            margin: 0 auto;
        }
        @include mobile {
            width: 58%;
            font: normal normal bold 32px/48px Raleway;
        }
    }
}
.banner-1 {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/index-banner.jpg');
}
.banner-2 {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/index-banner.jpg');
}
.swiper-button-next {
    margin-right: 14%;
    @include pad {
        margin-right: 5%;
    }
    @include mobile {
        margin-right: 2.5%;
    }
}
.swiper-button-prev {
    margin-left: 14%;
    @include pad {
        margin-left: 5%;
    }
    @include mobile {
        margin-left: 2.5%;
    }
}