// navbar-2
.navbar-2 {
    position: fixed;
    width: 1280px;
    padding: $middle-md 6.641%;
    top: 72px;
    z-index: 1;
    background-color: $color-info;
    .dn-lg {
        display: none;
    }
    @include pad {
        width: 100%;
        position: relative;
        padding: $middle-md 5%;
        top: 0;
        .container {
            padding: 0;
        }
    }
    @include mobile {
        position: fixed;
        top: 56px;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include mobile {
        padding: $small 5%;
        .dn-mb {
            display: none;
        }
        .df-mb {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .menu-mb {
        li {
            text-align: center;
            &+li {
                margin-left: $small-sm;
            }
        }
        .subtitle {
            font: normal normal normal 12px/18px Open Sans;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        border-radius: $small-sm;
        position: relative;
        cursor: pointer;
    }
    .location,
    .date,
    .person {
        width: 28%;
        background-color: $color-white;
        padding: 12px $small;
        @include pad {
            width: 26.043%;
            padding: 11.5px $small-md;
        }
    }
    .search {
        width: 11.5%;
        background-color: $color-primary;
        color: $color-white;
        padding: $small 0;
        transition: .5s;
        @include pad {
            width: 18.23%;
        }
        &:hover {
            background-color: $color-muted;
        }
        .btn {
            width: 100%;
            display: block; 
            text-align: center;
            color: $color-white;
            font: normal normal bold 16px/24px Open Sans;
        }
    }
    .title {
        display: flex;
        flex-direction: column;
        color: $color-secondary;
        font: normal normal bold 12px/12px Open Sans;
        margin-left: $small;
        text-transform: uppercase;
        @include pad {
            margin-left: $small-md;
        }
    }
    .subtitle {
        color: $color-gray;
        font: normal normal normal 14px/21px Open Sans;
        text-transform: initial;
    }
    .title-group {
        width: 80%;
        display: flex;
        .title {
            width: 50%;
            position: relative;
            @include pad {
                width: 100%;
            }
        }
        .v-line {
            &::after {
                content: "";
                width: 1px;
                height: 100%;
                background-color: $color-info;
                position: absolute;
                top: 0;
                left: -$small;
            }
        }
        .dn-lg {
            display: none;
        }
        @include pad {
            .dn-lg {
                display: block;
                .subtitle {
                    display: block;
                }
            }
            .dn-md {
                display: none;
            }
        }
    }
}