//hotel-photo
.hotel-photo {
    display: flex;
    justify-content: space-between;
    margin: $middle-sm 0;
    position: relative;
    @include pad {
        margin: $small 0;
    }
    @include mobile {
        display: block;
        margin: 0;
    }
    .arrow-group {
        display: none;
        @include mobile {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            .arrow {
                color: $color-white;
            }
        }
    }
    .photo {
        background-position: center center;
        background-size: cover;
        border-radius: $small-sm;
    }
    .photo-1 {
        width: 57.208%;
        padding-top: 39.1%;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/Rachada1.jpg");
        @include pad {
            width: 56.423%;
            padding-top: 38.774%;
        }
        @include mobile {
            width: 109%;
            padding-top: 71.6%;
            transform: translateX(-4.5%);
        }
    }
    .photo-group-1 {
        width: 42.073%;
        border-radius: $small-sm;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include pad {
            width: 42.823%;
        }
        @include mobile {
            width: 109%;
            transform: translateX(-4.5%);
            display: none; //swiper
        }
    }
    .photo-2 {
        width: 100%;
        padding-top: 45.612%;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/Rachada2.jpg");
        @include pad {
            padding-top: 44.595%;
        }
        @include mobile {
            padding-top: 65.7%;
        }
    }
    .photo-group-2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .photo-3 {
        width: 45.613%;
        padding-top: 45.613%;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/Rachada3.jpg");
        @include pad {
            width: 44.596%;
            padding-top: 44.596%;
        }
        @include mobile {
            width: 109%;
            padding-top: 65.7%;
        }
    }
    .photo-group-3 {
        width: 52.68%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        @include pad {
            width: 54.058%;
        }
        @include mobile {
            width: 109%;
        }
    }
    .photo-4 {
        width: 100%;
        padding-top: 61.388%;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/Rachada4.jpg");
        @include pad {
            padding-top: 58.13%;
        }
        @include mobile {
            padding-top: 65.7%;
        }
    }
    .more-photo {
        padding: $small;
        text-align: center;
        font: normal normal bold 16px/24px Open Sans;
        color: $color-white;
        background-color: $color-secondary;
        border-radius: $small-sm;
        transition: .5s;
        cursor: pointer;
        &:hover {
            background-color: $color-primary;
        }
        @include pad {
            padding: $small-md $small;
            font: normal normal bold 13px/20px Open Sans;
        }
        @include mobile {
            display: none;
        }
    }
}