//reservation menu
.reservation-menu {
    display: none;
    @include mobile {
        display: flex;
        justify-content: space-between;
        padding: $small 5%;
        background-color: $color-info;
        position: relative;
        &::after {
            content: "";
            width: 90%;
            height: 1px;
            background-color: $color-white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &.active {
            .total {
                opacity: 0;
            }
            .arrow {
                transform: scale(-1);
            }
        }
        .total {
            display: flex;
            align-items: center;
        }
        .total-info {
            color: $color-gray;
            font: normal normal normal 14px/21px Open Sans;
        }
        .total-price {
            color: $color-secondary;
            font: normal normal bold 14px/21px Open Sans;
            margin-left: $small-md;
        }
        .detail {
            display: flex;
            align-items: center;
            color: $color-primary;
            cursor: pointer;
        }
        .text {
            font: normal normal bold 14px/21px Open Sans;
        }
        .arrow {
            margin-left: $small-sm;
        }
    }
}
