// reservation-received
.reservation-received {
    .title {
        color: $color-secondary;
        font: normal normal bold 32px/48px Raleway;
        margin-bottom: 32px;
        @include mobile {
            font: normal normal bold 24px/36px Raleway;
            margin: $middle-md 0;
        }
    }
    .info {
        display: flex;
        align-items: center;
    }
    .py-24 {
        padding: $middle-md 0;
    }
    .pt-24 {
        padding-top: $middle-md;
        border-top: 1px solid $color-info;
    }
    .pb-24 {
        padding-bottom: $middle-md;
        border-bottom: 1px solid $color-info;
    }
    .pt-16 {
        padding-top: $small;
    } 
    .info-title {
        width: 25%;
        color: $color-secondary;
        font: normal normal bold 16px/24px Open Sans;
        @include mobile {
            width: 30%;
            font: normal normal bold 14px/21px Open Sans;
        }
    }
    .info-data {
        width: 75%;
        color: $color-gray;
        font: normal normal normal 16px/24px Open Sans;
        @include mobile {
            width: 70%;
            font: normal normal bold 14px/21px Open Sans;
        }
    }
    .note {
        color: $color-primary;
        font: normal normal normal 12px/12px Open Sans;
        margin-left: $small;
        @include mobile {
            display: block;
            margin-left: 0;
        }
    }
    .btn-group {
        width: 100%;
        text-align: right;
        margin-top: $middle;
        @include mobile {
            text-align: center;
        }
    }
    .btn {
        padding: 18.5px 32px;
        font: normal normal bold 16px/24px Open Sans;
        border-radius: $small-sm;
        border: 1px solid transparent;
        transition: .5s;
        &:hover {
            color: $color-white;
            background-color: $color-gray;
        }
        @include mobile {
            display: block;
            width: 100%;   
        }
    }
    .edit {
        color: $color-primary;
        border: 1px solid $color-primary;
    }
    .home {
        color: $color-white;
        background-color: $color-primary;
        margin-left: $small-md;
        @include mobile {
            margin-left: 0;
            margin-top: $small-md;
        }
    }
}