// subscribe-2
.subscribe-2 {
    height: 104px;
    background-color: $color-info;
    @include pad {
        height: 113px;
    }
    @include mobile {
        height: 150px;
    }
    .content {
        display: flex;
        align-items: center;
        padding: $middle-md 0;
        @include pad {
            justify-content: space-between;
        }
        @include mobile {
            flex-wrap: wrap;
        }
    }
    .title {
        width: 42%;
        color: $color-secondary;
        font: normal normal bold 32px/48px Raleway;
        @include pad {
            width: 35%;
            font: normal normal bold 24px/36px Raleway;
        }
        @include mobile {
            width: 100%;
            text-align: center;
        }
    }
    .submit-group {
        width: 58%;
        display: flex;
        justify-content: center;
        @include pad {
            width: 65%;
        }
        @include mobile {
            width: 100%;
            margin-top: $small;
        }
    }
    input {
        border: none;
        outline: none;
    }
    .email {
        width: 75.336%;
        padding: 20.5px $middle-sm;
        background-color: $color-white;
        border-radius: $small-sm 0 0 $small-sm;
        @include pad {
            width: 70%;
        }
        @include mobile {
            width: 65%;
        }
        &::placeholder {
            color: $color-gray;
            font: normal normal normal 16px/24px Open Sans;
        }
    }
    .submit {
        width: 23.3%;
        color: $color-white;
        font: normal normal bold 16px/24px Open Sans;
        background-color: $color-primary;
        border-radius: 0 $small-sm $small-sm 0;
        text-align:center;
        transition: .5s;
        @include pad {
            width: 30%;
            // padding: 20.5px 32px;
        }
        @include mobile {
            width: 35%;
        }
        cursor: pointer;
        &:hover {
            background-color: $color-gray;
        }
    }
}