//topic
.topic {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: -1;
    .place-selection {
        margin: $middle-md 0;
        display: flex;
        position: relative;
        @include mobile {
            justify-content: space-between;
        }
    }
    .place-wrap {
        width: 10%;
        text-align: center;
        border-bottom: 2px solid $color-info;
        @include pad {
            width: 20%;
        }
        @include mobile {
            width: 33.33333%;
        }
    }
    .place {
        position: relative;
        font: normal normal bold 24px/36px Raleway;
        color: $color-gray;
        @include mobile {
            font: normal normal bold 20px/36px Raleway;
        }
    }
    .count {
        position: absolute;
        font: normal normal bold 14px/21px Raleway;
    }
    .border-primary {
        border-bottom: 2px solid $color-primary;
    }
    .text-primary {
        color: $color-primary;
    }
    .card-group {
        display: flex;
        justify-content: space-between;
        @include pad {
            width: 170.03%;
        }
        @include mobile {
            width: 280%;
        }
        .card {
            width: 22.974%;
            .material-icons {
                font-size: 18px;
            }
        }
        .pic {
            width: 100%;
            padding-top: 68.63%;
            background-position: center center;
            background-size: cover;
            border-radius: $small-md;
        }
        .pic-1 {
            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/top1.jpg');
        }
        .pic-2 {
            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/top2.jpg');
        }
        .pic-3 {
            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/top3.jpg');
        }
        .pic-4 {
            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/top4.jpg');
        }
        .title {
            color: $color-secondary;
            font: normal normal bold 16px/24px Open Sans;
            margin-top: $small-md;
        }
        .comment {
            display: flex;
            align-items: center;
            margin-top: $small-md;
        }
        .point {
            color: $color-gray;
            font: normal normal normal 14px/21px Open Sans;
            margin-top: 2px;
            margin-left: $small-sm;
        }
        .review {
            color: $color-muted;
            font: normal normal normal 12px/12px Open Sans;
            margin-top:  $small-sm;
        }
        .price {
            display: flex;
            align-items: center;
            color: $color-gray;
            font: normal normal normal 14px/21px Open Sans;
            margin-top: $small-md;
        }
        .ori-price {
            color: $color-muted;
            text-decoration: line-through;
            font: normal normal normal 12px/12px Open Sans;
            margin-left: $small-md;
        }
    }
    .arrow {
        font-size: 48px;
        color: $color-info;
        position: absolute;
        right: -50px; //修改
        top: 50%;
        transform: rotate(-90deg);
        z-index: 99;
        cursor: pointer;
        @include pad {
            top: 55%;
            right: 20px;
        }
    }
}